.gallery {
  margin-top: 2rem;

  .gallery .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding:2rem 5%;
  }

    .gallery img {
      width: 100%;
      height: auto;
      border-radius: 8px;
      object-fit: cover;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
