@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

html,body {
  font-family: 'Poppins', sans-serif;
  color: $primary;
  background: $bg-page;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
.container {
  max-width: $container-max;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
